p
  | <p>Netta has been an artist for over 30 years with her art being collected by individuals across the US and Canada. Though originally from London Ontario, Netta has lived in Nelson, British Columbia, New Orleans, Louisiana, Denver, Colorado, and now Memphis, Tennessee. Her love of nature and all of its beauty is the inspiration for her artwork. And when inspiration takes over, the desire to transfer color and emotion onto paper take precedence over the image.

  p
    = image_tag ("netta_about.jpg")