p
 |&#8220;<em>The love of nature and all of its beauty
  brings inspiration  to paint. Love of color and the mixing of
  colors bring out the most that   it has  to offer. When inspiration
  takes over, the image becomes irrelevant and   the  desire to transfer
  color and emotion to canvas takes precedence over  representation.</em>&#8221;

.right
  em &#126; Netta Casciano
p
  -if Artwork.first
    = thumb_link Artwork.last