#login_form
  = form_for(:session, url: login_path) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'

    .form-group
      =f.label :remember_me, class: 'checkbox inline' do
        =f.check_box :remember_me
        span
          |Remember me on this computer

    = f.submit "Login", class: "btn btn-primary"