#management_container
  #management_form
    = form_for(@artwork, html: {multipart: true}) do |f|

      = render 'shared/error_messages'

      .form-group
        = f.label :name
        br
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :description
        br
        = f.text_area :description, class: 'form-control'

      .form-group
        = f.label :width
        br
        = f.text_field :width, size: 6, maxlength: 6, class: 'form-control'

      .form-group
        = f.label :height
        br
        = f.text_field :height, size: 6, maxlength: 6, class: 'form-control'

      .form-group
        = f.label :category_id
        br
        = f.collection_select(:category_id, Category.all, :id, :name, {include_blank: true}, {class: 'form-control'})

      .form-group
        = f.label :sold
        br
        = f.check_box :sold, class: 'checkbox'

      .form-group
        = f.label :price
        br
        = f.text_field :price, class: 'form-control'

      .form-group
        = f.label :image
        br
        = f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control'

      .actions
        = f.submit class: 'btn btn-default'


        = f.button "Delete", name:'_method', value: 'delete', disabled: !@artwork.id, data: {confirm: "Are you sure you would like to delete this art piece?"}, class: 'btn btn-default'

  #artwork_manage_list
    table
      - @artworks.each do |artwork|
        tr
          td
            = link_to image_tag(artwork.image.thumb.url), edit_artwork_path(artwork.id)

    = will_paginate @artworks, params: {action: 'new' }


javascript:
  $('#artwork_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });