h2 "#{@artwork.name}"

#preview
  = art_img_link @artwork
p
  - if(@artwork.width && @artwork.height)
    |#{@artwork.width}" x #{@artwork.height}"
  br
  br

  = @artwork.description

  br
  br
  -unless(@artwork.sold || @artwork.price <= 0)
    | $#{'%.02f' % @artwork.price}
/  <strong>Category:</strong>
/  <%= @artwork.category %>
/</p>
/
/<p>
/  <strong>Name:</strong>
/  <%= @artwork.name %>
/</p>
/
/<p>
/  <strong>Description:</strong>
/  <%= @artwork.description %>
/</p>
/
/<p>
/  <strong>Width:</strong>
/  <%= @artwork.width %>
/</p>
/
/<p>
/  <strong>Height:</strong>
/  <%= @artwork.height %>
/</p>
/
/<p>
/  <strong>Sold:</strong>
/  <%= @artwork.sold %>
/</p>
/
/<p>
/  <strong>Price:</strong>
/  <%= @artwork.price %>
/</p>
/
/<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
span.image_nav
  = link_to 'Back', :back
