@import "bootstrap-sprockets";
@import "bootstrap";
/* artstyle.css */
/* Note to self: Borders apply to width dimensions for placement
but not height placement ie. margin bottom not effected to equal true 1em
but margin right of 1em will only equal 12px of space due to a total of 4px added
to widths (1px of left and right side on each object) */
//*
//{
//  margin: 0;
//  padding: 0;
//}

*{
  box-sizing: border-box;
}


body
{
  background: #135FBA image-url("celestial_bkg.png") no-repeat fixed bottom right;
  font-family: "Times New Roman",Georgia,Serif;
  //background: #000000 url(../images/site_images/celestial_bkg.jpg) no-repeat fixed bottom right;
}


a img
{
  border: 0px;
}

acronym
{
  border-bottom: none;
}

#container
/* Sets container width and position. */
{
  max-width: 780px;
  margin: 45px auto 10px;
  position:relative;
}

/***** header div styles *****/

header
/* height set to show image. */
/* Bottom margin to move lower items away */
{
  background-repeat: no-repeat;
  background-image: image_url("flower_header.jpg");
  height: 9em;
  margin: 1em auto;
  border: 2px solid #FFF;
}
header h1
	/* margin to move title position */
	{
  font-size: 2.5em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #fff;
  margin: 2.5em 0 0 .2em;
}

header img
{
  margin: 5.7em 0 0 .3em;
}




/***** nav div styles *****/

#side_bar
{
  min-height: 380px;
  width: 8em;
  float: left;
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;
  background: image_url("nav_bkg.png") bottom right;

  ul{
    margin: 0 ;
    padding: 0;
  }

  li
	/* nav list bullets removed. Nav positioning set. Font set. */
	{
    list-style: none;
    margin: 3.5em 1em;

  }

  a,
  a:link,
  a:visited
  {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  a:hover,
  a:active
  {
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
}

/***** content div styles *****/

main
/* content area general dimensions set. */
/* add +2 px to margin left due to border of 1px on either side*/
{
  background: #6B95D4;
  min-height: 380px;
  margin: 0 0 0 130px;
  padding: 2em 0em 2em 0em;
  border: 2px solid #FFF;
  max-width: 780px;

  p
  {
    font-size: 1.2em;
    padding: 1em 2em;
    text-align:center;
    color: white;
    overflow: auto;
  }

  h1
  {
    text-align: center;
    text-decoration: underline;
  }

  h2
  {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
  }

  table
  {
    margin: 1em auto 2em;
  }

  td
  {
    text-align: center;
    padding: .5em .75em;
  }
}

/* styles for artwork preview id inside content area*/
#preview
{
  margin: 3em 3em .5em 3em;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 1em;
}

#preview p
{
  font-size: 1em;
  padding: 0;
}

#preview img
{
  //position: relative;
  margin: auto;
  width: 100%;
}

.image_nav{
    margin-left:47%;
  }

/*****  footer div styles *****/

footer {
  margin:5px 0 0 130px;
  text-align: center;

  p
  {
    font-size: .8em;
  }
}

/****  General class rules ****/

.alert{
  max-width: 350px;
  margin:5px auto;
  text-align: center;
}

.right
{
  margin-left:27em;
}


.pagination
{
  text-align: center;
  display: block;
  min-width: 100px;
  margin: 5px auto;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em
  }
  .disabled {
    color: #e1e1e1
  }
  .current{
    font-style: normal;
    font-weight: bold;
    color: #6d6d6a;
  }
  a{
    border-bottom: 1px solid #dddddd;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus{
    border-color: #fff;
    background: #0063dc;
    color: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page
    {border-width: 2px}
  .previous_page
    {margin-right: 1em}
  .next_page
    {margin-left: 1em}
}

#management_container{
  min-height: 50em;
  overflow: auto;
}

#artwork_manage_list{
  float:left;
  width: 45%;
}

/* forms */

#login_form
{
  max-width:400px;
  margin: 45px auto 0px;
  text-align: center;
}

#management_form{
  float: left;
  padding: 5px;
  width: 45%;
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

//Form error styling
#error_explanation {
  background-color: #ffb3bb;
  color: #c00000;
  border: solid #c00000 .5px;
  border-radius: 4px;
  margin: 8px;

  ul {
    list-style: none;
    margin: 7px
  }
}

.field_with_errors{
  @extend .has-error;
}