nav
  = link_to("Home", root_path)
  | &#124;
  = link_to "Artwork", artworks_path
  | &#124;
  = link_to "About", about_path
  | &#124;
  =link_to "Contact", contact_path
  -if logged_in?
    | &#124;
    = link_to "Log out", logout_path, method: 'delete'
p &copy;Netta Casciano | <em> site created by: </em> Lee Poohachoff
