doctype html
html
  head
    title ArtGallery #{yield(:title)}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body

      #container
        header
          h1 Netta Casciano
        nav id="side_bar"
          = render 'layouts/nav'
        main
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
        footer
          = render 'layouts/footer'
